.header {
    background-color: lightgrey; /*Change colour before finilising*/
    overflow: auto;
    position: relative;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

.profilename {
    height: 100px;
    background-color: aqua;
    display: inline-block;
    padding: 20px 15px 0px 15px;
    color: white;
}

/*changing the nav to inline-block*/
.navbarcustom {
    float: right;
    padding-top: 30px;
}