body, html {
    height: 100%;
    margin: 0px;
}

body {
    background-image: url("../images/cork-board.png");
    flex-direction: column;
    display: flex;
}

p {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

h1, h2 {
    font-family: 'Georgia', Times, 'Times new Roman', serif;
}

.header {
    background-color: #ffffff; 
    flex-shrink: 0;
}

h2 {
    color: #4aaaa5;
}

/*Making a content wrapper to allocate margins*/
.wrapper {
    max-width: 960px;
    margin: 0 auto;
    flex: 1 0 auto;
}

/*Making the profile name box appear*/
.profilename {
    min-height: 100px;
    background-color: #4aaaa5;
    display: inline-block;
    padding: 25px 15px 0px 15px;
    color: white;
}

/*changing the nav to inline-block*/
.navbarcustom {
    float: right;
    padding-top: 30px;
}

/*Coloring the links on the navbar*/
li a {
    color: #777777;
}

/*Area for main content*/
.content {
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 960px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    padding: 20px;
}

/*Floating the profile image so as the text appears next to it*/
#profilepicture {
    float: left;
    margin: 0 15px 15px 0;
}

/*Placing a margin between the photos on the portfolio page*/
.rowmargin {
    margin-top: 20px;
}

img:hover {
    opacity: 50%;
}

/*Creating links ontop of the portfolio images*/
.portfoliopicture {
    position: relative;
}

.portfoliolink {
    background-color: #4aaaa5;
    text-align: center;
    position: absolute;
    bottom: 10%;
    width: 100%;
}

/*Changing text color and decoration of portfolio links*/
.contentlinks {
    color: white;
}

.contentlinks:hover {
    color: #777777;
    text-decoration: none;
}

/*Adding a sticky footer to the bottom of the page*/
footer {
    height: 72px;
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    flex-shrink: 0;
}

#copyright {
    text-align: center;
    color: #ffffff;
    padding-top: 20px;
}

/*Removes padding and navbar float making information take up the whole screen and align navbar below portfolio name*/
@media screen and (max-width:576px) {
    .content {
        padding: 0;
    }

    .navbarcustom {
        float: none;
    }

    .rowmargin {
        margin-top: 0px;
    }

    .nav {
        justify-content: center;
    }

    .navbarcustom {
        padding-top: 0px;
    }

    .profilename {
        width: 100%;
        text-align: center;
    }
}
